$background-color: #feca57;

.ecole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    background-color: $background-color;
    gap: 20px;

    h1 {
        margin-bottom: 20px;
        font-size: 3em; // Taille personnalisée pour le titre
    }

    // Texte principal de l'école
    .text {

        color: #333;
        margin-left: 20vh;

        @media (max-width: 1024px) {
            margin-left: 0;

        }

        &.large-text {
            font-size: 22px;
        }

        &.custom-spacing {
            line-height: 2.5;
        }
    }
}