$primary-color: #333;

.ecole {
    position: relative; // Nécessaire pour positionner l'image en arrière-plan
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    gap: 20px;

    // Pseudo-élément pour l'image en fondu
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('./assets/images/photoecole.jpg'); // Remplace par ton chemin d'image
        background-size: cover; // L'image couvre toute la zone
        background-position: center; // Centrer l'image
        opacity: 0.4; // Appliquer un fondu à l'image de fond
        z-index: -1; // Met l'image en arrière-plan, sous le contenu
    }

    h1 {
        text-align: center;
        font-size: 3em;
        color: #040514;
        margin-bottom: 50px; // Ajoute un espace entre le titre et le reste du contenu
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); // Ombre pour lisibilité
    }

    .text {
        color: $primary-color;
        margin-left: 20vh;

        @media (max-width: 1024px) {
            margin-left: 0;
        }

        &.large-text {
            font-size: 22px;
        }

        &.custom-spacing {
            line-height: 2.5;
        }
    }
}