$primary-color: #333;
$secondary-color: #feca57;
$font-size-base: 18px;

.infos-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h1 {
        color: $primary-color;
        font-size: 2em;
        margin-bottom: 1em;
    }

    .loading,
    .error {
        font-size: 1.1em;
        color: darken($secondary-color, 10%);
        margin-bottom: 20px;
    }

    .infos-content {
        width: 100%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgb(0 0 0 / 62%);
        background-color: #48dbfb;

        .info-item {
            margin-bottom: 20px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;


            p {
                font-size: $font-size-base;
                line-height: 1.6;
                color: darken($primary-color, 15%);
            }
        }
    }
}